*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#424242;
}
.main-body{
    width: 400px;
    height: 600px;
    background: #424242;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    .calc{
        width: 100%;
        margin: 30px 30px;
        display: flex;
        justify-content: space-between;
        display: inline;
        .output{
            width: 100%;

            #screen{
                width: 100%;
                height: 100px;
                pointer-events: none;
                border: none;
                border-radius: 10px;
                background: #212108;
                color: #578b22;
                font-size: 50px;
                text-align: right;
                letter-spacing: 1px;
                font-family: 'Digital-7';
            }
        }
        .buttons{
            margin-top: 30px;
            .btn{
                width: 75px;
                height: 60px;
                font-size: 30px;
                background: #464646;
                color: white;
                margin-bottom: 20px;
                border: none;
                border-radius: 10px;
                box-shadow: 	0px 3px 3px 0px rgba(0,0,0,0.12), 0px 3px 6px 0px rgba(0,0,0,0.22);
                border:	1px solid rgba(0,0,0,0.03);
                border-radius:	6px;

            }
            .btnc{
                background: #ec125b;
            }
            .row{
                display: flex;
                justify-content: space-between; 
                
                .btne{
                    background-color: #e4a844;
                }
                .btns{
                    background-color: #646464;
                }
            }
        }
    }
}